body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  background-image: url("bild2.jpg");
}
/*
 * Formatting the header area
 */
header {
  background-color: #DFB887;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
/*
 * Centering the body content
 */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}
div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.loginbox {
  width: 15em;
  border: 1px solid #333;
  box-shadow: 4px 4px 2px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, rgb(255, 255, 255), rgb(212, 234, 255));
  /* background-color: white; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* h1 {
  font-size: 2.5em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
} */

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

h4 {
  font-size: 1.7em;
  margin: 13px 5px 15px 5px;
}

.menu {
  float: right;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: #444;
  text-decoration: none;
}
.button {
  border: none;
  color: #97b2d0 ;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.img{
    height:100%;
    width:100%;
    height:auto;
    width:auto;
    position:absolute;
    top:-100%; bottom:-100%;
    left:-100%; right:-100%;
    margin:auto;
}
.table, th, td {
  border-collapse: collapse;
}
button:hover, img:hover{
  background-color: rgba(151, 178, 208, 0.5);
}
.container {
    display: block;
    /* grid-template-columns: 1fr 1fr 1fr; */
    text-align: center;
}
.content-section {
  
  padding: 5px 5px;
  
  border-radius: 3px;
  margin-bottom: 10px;
}
.form-group{
  
  padding: 5px 5px;
  border: 1px solid #000000;
  border-radius: 3px;
  margin-bottom: 10px;
  /* background-image: linear-gradient(180deg, rgb(228, 251, 255), rgb(176, 237, 255) 40%, rgb(119, 188, 253)); */

  
}
table.fixed {table-layout:fixed; width:200px;}/*Setting the table width is important!*/
table.fixed td {overflow:hidden;}/*Hide text outside the cell.*/
table.fixed td:nth-of-type(1) {width:40px;}/*Setting the width of column 1.*/
table.fixed td:nth-of-type(2) {width:40px;}/*Setting the width of column 2.*/
table.fixed td:nth-of-type(3) {width:20px;}/*Setting the width of column 3.*/

.editscr {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.infoscr {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 120%;
  font-size: 20px;
}

.home-div {
  width: 35em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 0px 0px 20px 0px;
  background-image: linear-gradient(180deg, rgb(228, 251, 255), rgb(176, 237, 255) 40%, rgb(119, 188, 253));
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.formcontainer {
  padding: 5px 5px;
  border: 5px solid #333;
  border-radius: 3px;
  margin-top: 10px;
}