{% extends "layout.html" %}
{%  block content  %}
    <h1> Welcome</h1>
     <button
    onclick="window.location.href = '/uploads'">
        Upload Slideshow PDF (Landscape/Querformat!)
    </button>
    <button
    onclick="window.location.href = '/uploadvideo'">
        Upload Video
    </button>
    <button
    onclick="window.location.href = '/slides'">
        Show Slides
    </button>
    <button
    onclick="window.location.href = '/video'">
        Show Video
    </button>
    <button
    onclick="window.location.href = '/kpis'">
        Show Numbers
    </button>
     <button
    onclick="window.location.href = '/clear'">
        Clear Slides (Deletes Files!)
    </button>

{% endblock %}
</div>
</html>