{% extends "layout.html" %}
{% block content %}
    <table style="width:100%">
        <tr>
            <th>KPI</th>
            <th></th>
        </tr>
        <tr>
            <td>Täglicher Forecast alles gurgelt </td>
            <td>{{probenforecastLower}} - {{probenforecastUpper}}</td>
        </tr>
        <tr>
            <td>Proben Abfahrt PAV16</td>
            <td>452 RS 18:50 VM EXKL Fehler fertig + Label Lieferfenster</td>
        </tr>
        <tr>
            <td>Pav16 > Pav17 Pooling</td>
            <td>500 Proben</td>
        </tr>
        <tr>
            <td>Pooling Platten in Progress Aktuell:</td>
            <td>19</td>
        </tr>
        <tr>
            <td>Analytik Platten in Progress Aktuell:</td>
            <td>13</td>
        </tr>
        <tr>
            <td>Vollständig abgearbeitete Platten Fertig:</td>
            <td>16</td>
        </tr>
        <tr>
            <td>Vollständig abgearbeitete Proben Fertig:</td>
            <td>14.694 Proben</td>
        </tr>
        <tr>
            <td>Anzahl positiver Pools Sum of Anzahl positiver Pools:</td>
            <td>13</td>
        </tr>
        <tr>
            <td>Positivitätsrate Täglich</td>
            <td>0.00108888%</td>
        </tr>
        <tr>
            <td>Forecast verbeleibende Proben Verbleibende Proben:</td>
            <td>30.000-31.000</td>
        </tr>
    </table>


{% endblock %}