<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="UTF-8">
    <title>Lifebrain Signage</title>
</head>
<style>
.mySlides {display:none;}
</style>
<div>
        {% for image in images %}
                <img class='mySlides' src='{{ url_for('static', filename = '/uploads/slides/' + image) }}' style="width:100%">
        {% endfor %}


</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 20000); // Change image every x msseconds
}
</script>
</body>
</html>